.readonly-input {
    background-color: #f0f0f0; /* Un color más oscuro para indicar que es de solo lectura */
    color: rgba(0, 0, 0, 0.85); /* Color del texto */
    cursor: not-allowed; /* Cambiar el cursor para indicar que no es editable */
  }
  
  main {
    padding: 16px !important;
  }

/* Items.css */

.product-image {
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.product-image-large {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.table-container {
  margin-bottom: 16px;
}

.add-product-btn {
  width: 100%;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .table-container {
    margin-bottom: 16px;
  }

  .add-product-btn {
    width: 100%;
    margin-bottom: 16px;
  }
}
